$main-color: #2c2c2c;
$secondary-color: #f4f4f4;

// $main-color: #f4f4f4;
// $secondary-color: #2c2c2c;


$active-color: #0075ff;
$disabled-color: #c5c5c5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $main-color;
  font-size: 14px;
  &:active,
  &.active {
    color: $active-color;
  }
}

*:focus {
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

body {
  background: $secondary-color;
}

button {
  // color: $main-color;
  background: transparent;
  border-color: $main-color;
  border-style: solid;
}

button,
tbody tr {
  &:hover {
    color: $active-color;
    border-color: $active-color;
  }
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}


thead tr {
  background-color: darken($secondary-color, 1.5%);
}

tbody tr {
  &:nth-child(even) {
    background-color: darken($secondary-color, 1.5%);
  }

  &:nth-child(odd) {
    background-color: lighten($secondary-color, 1.5%);
  }
}
