$main-color: #2c2c2c;
$secondary-color: #f4f4f4;

// $main-color: #f4f4f4;
// $secondary-color: #2c2c2c;


$active-color: #0075ff;
$disabled-color: #c5c5c5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*:focus {
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

body {
  background: $secondary-color;
}

span {
  color: $main-color;
}

button {
  color: $main-color;
  background: transparent;
  border-color: $main-color;
  border-style: solid;

  i {
    color: $main-color;
  }

  &:hover,
  &:active,
  &.active {
    border-color: $active-color;
    color: $active-color;

    i {
      color: $active-color;
    }
  }
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}
