// $main-color: #2c2c2c;
// $secondary-color: #f4f4f4;

// $main-color: #f4f4f4;
// $secondary-color: #2c2c2c;

$main-color: #f4f4f4;
$secondary-color: #444655;

// https://mycolor.space/?hex=%230075FF&sub=1
// $main-color: #444655;
// $secondary-color: #A9AABC;
// $main-color: #A9AABC;
// $secondary-color: #444655;


$active-color: #0075ff;
$disabled-color: #c5c5c5;

$border-style: groove;
$border-width: 1px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: $main-color;
  font-size: 14px;
  &:active,
  &.active {
    color: $active-color;
  }
}

*:focus {
  outline: none;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

#root {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-between;
  align-items: stretch;
}

body {
  background: $secondary-color;
}

button {
  // color: $main-color;
  background: transparent;
  // border-color: $main-color;
  // border-style: solid;
  border-style: none;
}

button,
tbody tr {
  &:hover {
    // color: $active-color;
    // border-color: $active-color;
  }
}

.wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 10px 0;
}

.playback-section {
  border-bottom-style: groove;
  border-bottom-width: 1px;
}

.content-section {
  flex-grow: 1;
  overflow: auto;
}

.tabs-section {
  border-top-style: groove;
  border-top-width: 1px;

  button {
    border-style: none;
  }
}

.icon {
  color: inherit;
  vertical-align: middle;
}

table {
  // https://codepen.io/pdg/pen/MayBJK

  width: 100%;
  table-layout: fixed;
  // overflow-wrap: break-word;
  border-collapse: collapse;
  border-style: $border-style;
  border-width: $border-width;
  border-color: inherit;

  th,
  td {
    padding: 4px 4px;
    text-align: left;
    color: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  th {
    border-style: $border-style;
    border-width: $border-width;
  }

  td {
    border-left-style: $border-style;
    border-left-width: $border-width;
    border-right-style: $border-style;
    border-right-width: $border-width;

    .icon {
      font-size: 16px;
      padding-right: 3px;
      vertical-align: text-bottom;
      color: inherit;
    }
  }

  thead tr {
    background-color: darken($secondary-color, 1.5%);
  }

  tbody tr {
    &:nth-child(even) {
      background-color: darken($secondary-color, 1.5%);
    }

    &:nth-child(odd) {
      background-color: lighten($secondary-color, 1.5%);
    }
  }
}
