{
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["node_modules", "dist"],
  "rules": {
    "react/prop-types": 0,
    "object-curly-newline": ["error", { "consistent": true }]
  }
}
