.playback {
  .button-bar {
    text-align: center;

    button {
      margin: 0 15px;
      vertical-align: middle;
      border-radius: 50%;
      border-width: 2px;
      span {
        color: inherit;
        // font-size: inherit;
        vertical-align: text-top;
      }
    }

    .play-button {
      width: 40px;
      height: 40px;

      span {
        font-size: 34px;
      }
    }

    .prev-button,
    .next-button {
      width: 35px;
      height: 35px;

      span {
        font-size: 30px;
      }
    }

    .repeat-button,
    .random-button {
      width: 30px;
      height: 30px;

      span {
        font-size: 22px;
      }
    }
  }
}
