.playback {
  .title-bar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;

    .title {
      padding: 0px 4px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .button-bar {
    text-align: center;

    button {
      margin: 0 15px;
      vertical-align: middle;
      border-radius: 50%;
      border-width: 2px;
      span {
        color: inherit;
        // font-size: inherit;
        vertical-align: text-top;
      }
    }

    .play-button {
      width: 40px;
      height: 40px;

      .icon {
        font-size: 34px;
      }
    }

    .prev-button,
    .next-button {
      width: 35px;
      height: 35px;

      .icon {
        font-size: 30px;
      }
    }

    .repeat-button,
    .random-button {
      width: 30px;
      height: 30px;

      .icon {
        font-size: 22px;
      }
    }
  }
}
